---
title: Paginação com TagLib no Jsp
excerpt: Paginação com TagLib no Jsp
date: 2011-11-26 10:36:59.000000000 -03:00
categories:
- Programação
tags:
- java
permalink: "/programacao/paginacao-com-taglib-no-jsp/"
---
<p>Essa biblioteca do <em>Taglib </em>é muito útil para paginar uma lista em um Jsp. É utilizado junto com um <em>forEach</em>, por exemplo, do <em>TagLib</em>. </p>
<p>Lembrando que, para que o <em>forEach</em> funcione é necessário que a lista seja declarada em um <em>pageContext</em>, como mostra o exemplo abaixo.</p>
<h3>Dependências:</h3>
<p><em>Baixe as bibliotecas abaixo e coloque em seu projeto (WEB-INF/lib).</em></p>
<p><strong>Biblioteca 'JSP Standard Tag Library':</strong> <a href="http://jstl.java.net/download.html" target="_blank" rel="noopener noreferrer">http://jstl.java.net/download.html</a></p>
<p><strong>Biblioteca do 'Page Taglib':</strong> <a href="http://jsptags.com/tags/navigation/pager/download.jsp" target="_blank" rel="noopener noreferrer">http://jsptags.com/tags/navigation/pager/download.jsp</a></p>
<h3>Exemplo:</h3>
<pre>
<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
<%@page import="java.util.ArrayList" %>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>
<%@ taglib uri="http://jsptags.com/tags/navigation/pager" prefix="pg" %>
 <%
ArrayList teste = new ArrayList();
 teste.add("maça");
 teste.add("pêra");
 teste.add("banana");
 teste.add("uva");
 teste.add("melancia");
 teste.add("mamão");
 teste.add("melão");
 
 pageContext.setAttribute("lista", teste);
 %>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Paginação</title>
</head>
<body>

<pg:pager id="p" maxpageitems="2" maxindexpages="10" export="offset,currentPageNumber=pageNumber" scope="request">
  <pg:param name="keywords" />

<c:foreach var="item" items="${lista}">
  <pg:item>
	
	- ${item}	<br />
	
	</pg:item>
</c:foreach>

<br /><br />

 <pg:index>
    <pg:prev>
      <a href="<%= pageUrl %>">&lt;&lt; Anterior</a>
    </pg:prev>
    <pg:pages>
       <a href="<%= pageUrl %>"><%= pageNumber %></a> 
    </pg:pages>
    <pg:next>
      <a href="<%= pageUrl %>">Próximo &gt;&gt;</a>
    </pg:next>
  </pg:index>
</pg:pager>

</body>
</html>
</pre>
